// place your custom styles here
.blog-home{
    .article{
        border-radius: 8px;
    }
}


.page.blog .blog-home{
    max-width: var(--content-width)!important;
}

// .sidebar {
//     padding-left: calc(var(--sidebar-space) - 13rem) !important;
// }
// .toggle-sidebar-wrapper{
//     left: calc(var(--sidebar-space) - 3rem) !important;
// }

.sidebar-nav {
    padding-left: 0 !important;
}

.sidebar-nav li {
    padding-left: 0 !important;
}

.sidebar-nav li a {
}

.imgcenter{
    // margin-left: 50%;
    // transform: translateX(-50%);
}

//  字体动态渐变色
@mixin ceel-jianbian {
    background-image: -webkit-linear-gradient(left, #0a718b, #eedb0c 25%, #0a718b 50%, #eedb0c 75%, #0a718b);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-background-size: 200% 100%;
    -webkit-animation: maskedAnimation 4s infinite linear;
}
@keyframes maskedAnimation {
    0% { background-position: 0 0; }
    100% { background-position: -100% 0; }
}
//  end

//  字体渐变色
@mixin ceel-jianbian-jing {
    background-image: -webkit-linear-gradient(left, rgb(255, 255, 255),#ffffff 50%,  #ffffff);
    // background-image: -webkit-linear-gradient(left, rgb(148, 235, 72),#fcf27e 50%,  #012af4);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-background-size: 200% 100%;
}
//  end

.blog-hero h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    @include ceel-jianbian-jing;
    font-size: 3rem!important;
}


.blog-hero p{
    font-family: "Arial",
        "Microsoft YaHei",
        "黑体",
        "宋体",
        sans-serif;
        @include ceel-jianbian-jing;
        font-size: 1.5rem !important;
}